:root {
  --title-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --logo-style-color: #000000;
  --white-color: #ffffff;
  --background-color-black: #2f303a;
  --color-button: #f5f4fa;
  --background-color-section: #f5f5f5;
  --border-color: #ececec;
  --border-photos: #eeeeee;
  --border-company: #AFB1B8;
}

.body {
  background-color: var(--white-color);
  font-family: Roboto, sans-serif;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.container-head {
  display: flex;
  align-items: center;
}


/*head webstudio*/

.header-style {
  height: 80px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color);
}

.button-contact{
  background-color: transparent;
  border: none;
  margin-right: 10px;
  padding: 0;
  cursor: pointer;
}


.navi-head {
  display: flex;
  align-items: center;
  margin: 0;
}

.contact-active-head {
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-active-head:hover,
.contact-active-head:focus {
  color: var(--accent-color);
}

.navi {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--logo-style-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

.navi:hover,
.navi:focus {
  color: var(--accent-color);
}

.navi {
  display: flex;
}

.active {
  text-decoration: none;
  display: block;
}

.logo {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-style {
  padding-top: 24px;
  padding-bottom: 25px;
  color: var(--logo-style-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}
.list-header {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-left: 93px;
}

.list-header .link {
  margin: 0;
  padding: 0;
}

.list-header .link + .link {
  margin-left: 50px;
}

.list-active {
  margin: 0;
  padding: 0;
  display: flex;
  margin-left: auto;
  list-style: none;
}

.list-active .link + .link {
  margin-left: 40px;
}

.list-active .link {
  display: flex;
}

.contact {
  color: var(--text-color);
}

.contact:hover,
.contact:focus {
  color: var(--accent-color);
}
.contact-active-head {
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.02em;
}

.contact-active-head:hover,
.contact-active-head:focus {
  color: var(--accent-color);
}

.navi-active {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: var(--accent-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
}

/*main section*/
.button-hidden{
    padding: 0;
    width: 270px;
    height: 120px;
    margin-bottom: 30px;
    background-color: var(--color-button);
    background-position: center;
    border-radius: 4px;
    border: transparent; 
}


.section {
  background-color: var(--background-color-black);
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: url(../images/bg\ image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

}


.list-button {
  padding-left: 0;
  margin-top: 0;
  display: flex;
  list-style: none;
  margin-bottom: 50px;
  justify-content: center;
}
.list {
  display: flex;
  list-style: none;
  padding-left: 0;
}

.list > .photo {
  margin-right: 30px;
  display: block;
}
.photo:nth-last-child(-n + 1) {
  margin-right: 0;
}

.list-button .item + .item {
  margin-left: 8px;
}

.img-photo {
  display: block;
}
.headline {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 30px;
  max-width: 696px;
  text-align: center;
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  letter-spacing: 0.06em;
}

.button {
  padding: 6px 22px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: Roboto, sans-serif;
  color: var(--title-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button-active {
  /* margin-bottom: 200px; */
  min-width: 200px;
  height: 50px;
  padding: 10px 24px;
  border-radius: 4px;
  border: 1px solid transparent;
  font-family: inherit;
  color: var(--white-color);
  font-weight: 700;
  background-color: var(--accent-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 0.06em;
  text-align: center;
}

.button-active:hover,
.button-active:focus {
  background-color: #188ce8;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

.visually-hidden-style {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.list {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
}

.list .item-head {
  margin-right: 30px;
  flex-wrap: wrap;
  display: inline-block;
  width: 270px;
}

.item-head:nth-last-child(-n + 1) {
  margin-right: 0;
}
.heading {
  margin-top: 0;
  margin-bottom: 10px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.text {
  margin-top: 0;
  margin-bottom: 0;
  width: 270px;
  margin-right: 30px;
  color: var(--text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
  letter-spacing: 0.03em;
}
.section-photo {
  padding-bottom: 94px;
}
.section-photo:nth-child(3n) {
  margin-right: 0;
}
.aside {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: Center;
  letter-spacing: 0.03em;
}

.aside-comand {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: Center;
  letter-spacing: 0.03em;
}
.comand {
  background-color: var(--color-button);
  padding-top: 94px;
  padding-bottom: 94px;
}
.comand-block {
  background-color: var(--white-color);
  padding: 30px;
}

.icon{
  list-style: none;
  display: inline-flex;
  padding-bottom: 30px;
  gap: 10px; 
}

.list-icon{
  height: 44px;
  width: 44px;
  border: 1px solid red;
  border-radius: 50%;
  

}

.icon-comand{
  background-color: transparent;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
  border: transparent;
  }

.photos {
  display: flex;
  width: 270px;
}

.photos-block {
  background-color: var(--white-color);
  margin-right: 30px;
  margin-bottom: 0;
  padding-left: 0;
  box-shadow: 0px 2px 1px 0px #00000033;
  box-shadow: 0px 1px 1px 0px #00000024;
  box-shadow: 0px 1px 3px 0px #0000001F;

}

.photos-block:nth-last-child(-n + 1) {
  margin-right: 0;
}
.subtitle {
  margin: 0;
  text-align: center;
  color: var(--title-color);
  font-weight: 5s-00;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}

.subtitle-text {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
}
.visually-hiden-style {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--white-color);
}
/* .list> .item-head:nth-last-child(4){

} */
.button-active:hover,
.button-active:focus {
  background-color: #188ce8;
}



.client-section-title{
  margin: 0;
  text-align: center;
  padding-top: 94px;
  font-size: 36px;
  letter-spacing: 0.03em;
}

.company {
}
  


.client-company{
  margin: 0;
  padding: 0;
  display: inline-flex;
  list-style: none;
  margin-top: 50px;
  padding-bottom: 94px;
}


.list-client{
  width: 170px;
  height: 92px;
  border: 2px solid tomato;
  gap: 30px;
}


.icon-client{
  padding-top: 16px;
  padding-bottom: 16px;
}

/*main portfolio*/
.list-images {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-top: 0;
  padding: 0;
  margin-bottom: -30px;
  margin-right: -30px;
}

.comand-items {
  margin-top: 0;
  border-left: 1px solid var(--border-photos);
  border-right: 1px solid var(--border-photos);
  border-bottom: 1px solid var(--border-photos);
  padding: 20px 24px;
  margin-top: 0;
}

.photos-element {
  display: block;
}
.images-element {
  width: 370px;
  margin-bottom: 30px;
  margin-right: 30px;
}

.images-element :nth-child(3n + 1) {
  margin-right: 0;
}

.items {
  margin-top: 0;
  margin-bottom: 4px;
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.items-element {
  margin: 0;
  color: var(--text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.8;
  letter-spacing: 0.03em;
}

.button {
  font-family: inherit;
  color: var(--title-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  cursor: pointer;
  letter-spacing: 0.03em;
}

.button:hover,
.button:focus {
  background-color: var(--accent-color);
  color: var(--white-color);
}

/*footer*/
.logo-footer {
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.logo-style-white {
  color: var(--white-color);
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
  text-decoration: none;
}
.address {
  margin-top: 28px;
}
.list-footer {
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 0;
}

.list-footer > li {
  margin-bottom: 12px;
}

.item-footer:nth-last-child(1) {
  margin: 0;
}

.active-address {
  color: var(--white-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.7;
  text-align: left;
  text-decoration: none;
}

.contact-active {
  /* background-color: red; */
  color: var(--text-color);
  font-size: 14px;
  font-style: normal;
  line-height: 1.14;
  text-decoration: none;
  letter-spacing: 0.03em;
}

.contact-active:hover,
.contact-active:focus {
  color: var(--accent-color);
}

.footer-section{
  color: var(--white-color);
  text-transform: uppercase;
}

.footer-content{
  display: inline-flex;
}

/*footer portfolio*/
.footer-style {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color-black);
}
